.average-speed {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
}

.average-speed__tooltip {
  top: -4.3rem;
  left: -($grid-gutter-width-lg / 2);
  display: none;
  height: 4rem;
  font-size: 1.3rem;
  font-family: $font-family-secondary;
  line-height: 2rem;
}

.average-speed__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  color: #6e737d;
  font-size: 2rem;
  cursor: pointer;

  &:first-child {
    margin-left: -0.4rem;
  }

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &:hover,
  &:focus {
    > .average-speed__tooltip {
      display: block;
    }
  }
}

.average-speed__icons {
  width: 100%;

  &--high {
    .average-speed__icon {
      color: $color-primary;
    }
  }

  &--medium {
    .average-speed__icon:nth-child(1),
    .average-speed__icon:nth-child(2) {
      color: $color-primary;
    }
  }

  &--low {
    .average-speed__icon:nth-child(1) {
      color: $color-primary;
    }
  }
}

.average-speed__description {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  color: $text-color-light;
  font-size: 1.3rem;
  font-family: $font-family-secondary;
  line-height: 2rem;
}
