.breadcrumbs {
  position: relative;
  padding: 1.5rem ($grid-gutter-width-lg / 2) 1.7rem;
  color: $text-color-light;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: $font-family-primary;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: $color-deep-blue;

  &::before {
    position: absolute;
    top: 0;
    right: ($grid-gutter-width-lg / 2);
    left: ($grid-gutter-width-lg / 2);
    display: inline-flex;
    height: 0.1rem;
    background-color: #646973;
    content: '';
  }
}

.breadcrumbs__link {
  @include transition;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}
