.button {
  @include transition;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 0.4rem;
  outline: none;
  cursor: pointer;

  &--full-width {
    width: 100%;
  }

  &--large {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }

  &--primary {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }

    &:active,
    &--active {
      background-color: $color-primary-active;
    }
  }

  &--secondary {
    background-color: #b6bbc6;
  }

  &--tertiary {
    background-color: #141923;

    &:hover {
      background-color: $color-primary-hover;
    }

    &:active,
    &--active {
      background-color: $color-primary-active;
    }
  }
}
