.case-studies {
  color: $text-color-light;
}

.case-studies__row {
  @include make-row;
}

.case-studies__col {
  width: 100%;

  @include media-breakpoint-up(lg) {
    @include make-col-ready-no-breakpoints;
    @include make-col(12);
  }
}

.case-studies__slider-background {
  display: none;
}

.case-studies__slider-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% - 5rem);

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .case-studies__slider-background {
      position: absolute;
      top: 0;
      left: -9px;
      z-index: -1;
      display: block;
      width: calc(100% - 288px);
      height: 100%;
      background-color: rgb(128 128 128);
      content: '';
    }
  }

  @include media-breakpoint-up(lg) {
    .case-studies__slider-background {
      left: 0;
      width: calc(100% - 418px);
    }
  }

  @include media-breakpoint-up(xl) {
    .case-studies__slider-background {
      width: calc(100% - 458px);
    }
  }
}

.case-studies__slider {
  @include media-breakpoint-up(md) {
    width: 90%;
    max-width: 996px;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 11.3rem;
    margin-bottom: 11.3rem;
  }
}

.case-studies__slider-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin-right: -9px;
  margin-left: -9px;
  font-size: 20px;
  background-color: $color-deep-blue;

  @include media-breakpoint-up(lg) {
    margin-right: 0;
    margin-left: 0;
  }

  @include media-breakpoint-up(xl) {
    margin-right: 458px;
  }
}

.case-studies__slider-pagination {
  height: 100%;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.case-studies__slider-navigation {
  height: 100%;

  @include media-breakpoint-down(xs) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
