.controls-bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-deep-blue;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    min-height: 4rem;
    margin-bottom: 3.7rem;
    border-radius: $border-radius;
  }
}

.controls-bar__search {
  flex: 1 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  @include media-breakpoint-up(md) {
    border-radius: $border-radius;
  }
}

.controls-bar__sort {
  display: none;
  flex: 0 0 auto;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  color: $text-color-light;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: $font-family-primary;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    display: inline-flex;

    > span {
      margin-right: 0.5rem;
    }
  }

  @include media-breakpoint-only(lg) {
    padding-right: 0.5rem;
    padding-left: 0.2rem;
  }
}

.controls-bar__view-changer {
  display: none;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: $color-primary;

  @include media-breakpoint-up(lg) {
    display: flex;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
