.country-progress {
  display: flex;
  flex-direction: column;
}

.country-progress__title {
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: $text-color-light;
  font-weight: normal;
  font-size: 1.6rem;
  font-family: $font-family-secondary;
  line-height: 2.5rem;
}

.country-progress__bubble {
  flex: 0 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #6e737d;
  border-radius: 0.75rem;

  &:not(:last-child) {
    margin-right: 0.6rem;
  }
}

.country-progress__bubbles {
  display: flex;
  flex-direction: row;

  &--joined {
    .country-progress__bubble:nth-child(1) {
      background-color: $color-primary;
    }
  }

  &--locations-mapped {
    .country-progress__bubble:nth-child(1),
    .country-progress__bubble:nth-child(2) {
      background-color: $color-primary;
    }
  }

  &--connectivity-mapped {
    .country-progress__bubble:nth-child(1),
    .country-progress__bubble:nth-child(2),
    .country-progress__bubble:nth-child(3) {
      background-color: $color-primary;
    }
  }

  &--real-time-data {
    .country-progress__bubble:nth-child(1),
    .country-progress__bubble:nth-child(2),
    .country-progress__bubble:nth-child(3),
    .country-progress__bubble:nth-child(4) {
      background-color: $color-primary;
    }
  }
}
