.countries-list {
  @include media-breakpoint-down(md) {
    .countries-list__item {
      margin-bottom: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .country__inner {
      @include make-row;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .country__meta-wrapper {
      @include make-col-ready;
      @include make-col(50, 100);
    }
    .country__progress {
      @include make-col-ready;
      @include make-col(35, 100);
    }
    .country__link {
      @include make-col-ready;
      @include make-col(15, 100);
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .country__date {
      display: none;
    }
    .country__flag-wrapper {
      display: none;
    }
    .country__subtitle {
      display: none;
    }
    .country-progress__title {
      display: none;
    }
    .country__schools-connectivity {
      display: none;
    }
    .country__separator {
      display: none;
    }
    .country__description {
      display: none;
    }
    .country__view-on-map {
      display: none;
    }
  }

  &--list-view {
    @include media-breakpoint-up(lg) {
      .countries-list__item {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      .country__inner {
        @include make-row;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .country__meta-wrapper {
        @include make-col-ready;
        @include make-col(38, 100);
      }
      .country__progress {
        @include make-col-ready;
        @include make-col(20, 100);
      }
      .country__link {
        @include make-col-ready;
        @include make-col(8, 100);
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .country__date {
        display: none;
      }
      .country__flag-wrapper {
        display: none;
      }
      .country__subtitle {
        display: none;
      }
      .country-progress__title {
        display: none;
      }
      .country__schools-connectivity {
        @include make-col-ready;
        @include make-col(34, 100);
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .schools-connectivity__percentage-connected {
        margin-left: 1rem;
      }
      .country__separator {
        display: none;
      }
      .country__description {
        display: none;
      }
      .country__view-on-map {
        display: none;
      }
    }

    @include media-breakpoint-up(xl) {
      .country__meta-wrapper {
        @include make-col(50, 100);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 0;
        padding-left: 0;
      }
      .country__flag-wrapper {
        @include make-col(28, 100);
        display: flex;
        padding-left: 15px;
      }
      .country__name {
        @include make-col-ready;
        @include make-col(40, 100);
        flex: 0 0 auto;
      }
      .country__date {
        @include make-col-ready;
        @include make-col(32, 100);
        display: inline-flex;
        flex: 0 0 auto;
      }
      .country__progress {
        @include make-col(17, 100);
      }
      .country__schools-connectivity {
        @include make-col(26, 100);
      }
      .country__link {
        @include make-col(7, 100);
      }
    }
  }

  &--grid-view {
    @include media-breakpoint-up(lg) {
      .countries-list__grid-header {
        display: none;
      }
      .countries-list__row {
        @include make-row;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
      }
      .countries-list__item {
        @include make-col-ready;
        @include make-col(6);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
      .country__meta-wrapper {
        display: flex;
        flex-direction: column;
      }
      .country {
        height: 100%;
        padding: 2rem;
        background-color: #232832;
        border-radius: 0.5rem;
      }
      .country__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .country__flag-wrapper {
        max-width: 14rem;
        margin-bottom: 2rem;
      }
      .country__name {
        margin-bottom: 0.3rem;
        font-weight: bold;
      }
      .country__date {
        font-size: 1.3rem;
        line-height: 2rem;
      }
      .country__subtitle {
        margin-top: 2.5rem;
      }
      .country__separator {
        margin-right: -2rem;
        margin-left: -2rem;
      }
      .schools-connectivity__percentage-connected {
        margin-top: 1rem;
      }
      .country__link {
        display: none;
      }
    }
    @include media-breakpoint-up(xl) {
      .country__meta-wrapper {
        display: block;
      }
      .country__flag-wrapper {
        float: left;
        margin-right: 15px;
        margin-bottom: 0;
      }
    }
  }
}

.countries-list__grid-header {
  @include make-container;
  margin: 2.4rem -15px;
  color: $text-color-light;
  font-size: 0.9rem;
  font-family: $font-family-primary;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;

  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 24px;
    padding-left: 24px;
  }
}

.countries-list__grid-row {
  @include make-row;
}

.countries-list__grid-col {
  @include make-col-ready;
  text-transform: uppercase;

  &--country {
    @include make-col(50, 100);

    @include media-breakpoint-up(lg) {
      @include make-col(38, 100);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(34, 100);
    }
  }

  &--date {
    display: none;

    @include media-breakpoint-up(xl) {
      @include make-col(16, 100);
      display: flex;
    }
  }

  &--progress {
    @include make-col(35, 100);

    @include media-breakpoint-up(lg) {
      @include make-col(20, 100);
    }

    @include media-breakpoint-up(xl) {
      @include make-col(17, 100);
    }
  }

  &--schools {
    display: none;

    @include media-breakpoint-up(lg) {
      @include make-col(34, 100);
      display: flex;
    }

    @include media-breakpoint-up(xl) {
      @include make-col(26, 100);
    }
  }

  &--link {
    @include make-col(15, 100);

    @include media-breakpoint-up(xl) {
      @include make-col(7, 100);
    }
  }
}

.countries-list__row {
  @include media-breakpoint-up(md) {
    margin-top: 2rem;
    padding: 0.9rem 24px;
    background-color: #232832;
    border-radius: 0.5rem;
  }
}
