.form {
  width: 100%;
}

.form__label {
  @include transition;
  margin-top: 0;
  margin-bottom: 1.2rem;
  color: #b6bbc6;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.form__input {
  // empty
}

.input__error {
  color: #ec0707;
  border: 2px solid #ec0707;
  outline: none;
}

.textarea__error {
  color: #ec0707;
  border: 2px solid #ec0707;
  outline: none;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:focus-within {
    .form__label {
      color: #0068ea;
    }
  }
}

.form__row {
  position: relative;
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
