.info-list__item {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.info-list__title {
  max-width: 12rem;
  margin-top: 0.1rem;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  &--full-width {
    max-width: none;
  }
}

.info-list__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 3.5rem;
}

.info-list__paragraph {
  margin-top: 0.6rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-family: $font-family-secondary;
  line-height: 2.2rem;
  text-transform: capitalize;
}

.info-list {
  @include list-unstyled;
  color: $text-color-light;

  &--heading {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .info-list__item:not(:last-child) {
      margin-bottom: 3rem;
      @include media-breakpoint-up(md) {
        margin-right: 6rem;
        margin-bottom: 0;
      }
    }

    .info-list__title {
      max-width: 19.5rem;
      margin-top: 0.7rem;
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }

  .info-list__clarification {
    max-width: 19.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #fff;
    font-weight: normal;
    font-size: 1.3rem;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
  }

  &--country-info {
    .info-list__item:not(:last-child) {
      margin-bottom: 1.8rem;
    }
    .info-list__title {
      margin-top: 0;
      margin-bottom: 0.3rem;
    }
    .info-list__description {
      font-size: 2.6rem;
      line-height: 3.2rem;
    }
  }
}
