@mixin link($has-icon: false, $negative-offset: true) {
  @include transition;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  color: $color-primary;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: $font-family-primary;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @if $negative-offset {
    margin-left: -0.5rem;
  }

  &:hover {
    background-color: #494f5d;
  }

  &:active {
    background-color: #141923;
  }

  @if $has-icon {
    > svg {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.link {
  @include link($has-icon: true);
}
