.map-legend {
  @include list-unstyled;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 620px;
  }
}

.map-legend__item {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem 0.5rem;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  border: 0 solid transparent;

  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
    line-height: 2rem;
    border-top-width: 1.4rem;
  }

  &--unavailable {
    border-top-color: #546fc2;
  }

  &--no-connectivity {
    border-top-color: #ff615b;
  }

  &--moderate {
    border-top-color: #ffc93d;
  }

  &--good {
    border-top-color: #8bd432;
  }

  &--not-verified {
    border-top-color: #373c46;
  }

  &--verified {
    border-top-color: #8945d4;
  }

  &--connected {
    border-top-color: #2779ff;
  }
}
