.map-switcher {
  @include list-unstyled;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  background-color: $color-primary;
}

.map-switcher__item {
  @include transition;
  padding: 0.6rem;
  color: $color-dark-blue;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:active,
  &--active {
    color: $text-color-light;
  }

  &--disabled {
    cursor: not-allowed;
  }
}

.map-switcher__button {
  outline: none;
  //noinspection CssBrowserCompatibilityForProperties
  user-select: none;
}
