.mapping-list {
  @include list-unstyled;
}

.mapping-list__item {
  display: flex;
  flex-flow: row nowrap;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &:not(:last-child) {
    margin-bottom: 4.8rem;
  }
}

.mapping-list__icon-wrapper {
  flex: 0 0 auto;
  width: 1em;
  height: 1em;
  margin-right: 2.8rem;
  margin-bottom: 1.5rem;
  font-size: 6rem;

  @include media-breakpoint-up(md) {
    margin-right: 3.4rem;
    font-size: 8.1rem;
  }
}

.mapping-list__info-wrapper {
  flex: 0 1 100%;
  flex-flow: column nowrap;
  max-width: 53.8rem;
}

.mapping-list__title {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-weight: normal;
  font-size: 2.3rem;
  font-family: $font-family-primary;
  line-height: 3rem;
}

.mapping-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.9rem;
  font-family: $font-family-secondary;
  line-height: 2.7rem;
}
