.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color-light;

  &--inverted {
    color: $text-color-dark;
  }
}

.not-found__icon {
  width: 3.3rem;
  height: 4.4rem;
  margin-bottom: 1.5rem;
  color: #b6bbc6;
  font-size: 4.4rem;
}

.not-found__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 2.3rem;
  font-family: $font-family-primary;
  line-height: 3rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.not-found__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-family: $font-family-secondary;
  line-height: 2rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.not-found__link {
  @include transition;
  display: inline-block;
  padding: 0;
  color: $color-primary;
  text-decoration: underline;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-primary-hover;
    text-decoration: none;
  }

  &:active {
    color: $color-primary-active;
    text-decoration: none;
  }
}
