.page-heading {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .write-to-us-btn {
    margin-top: 1rem;
  }
}

.work-together {
  margin-top: 14rem;
}
.page-heading__title {
  margin: 0;
  color: $text-color-dark;
  font-weight: bold;
  font-size: 3rem;
  font-family: $font-family-primary;
  line-height: 3.3rem;
}

.page-heading__title-wrapper {
  margin-top: 0;
  //margin-bottom: 7rem;
  margin-bottom: 3.5rem;
  @include media-breakpoint-up(lg) {
    width: 50%;
    max-width: 650px;
  }

  .page-heading__title {
    color: $text-color-dark;
    font-weight: bold;
    font-size: 3rem;
    font-family: $font-family-primary;
    line-height: 3.3rem;
  }
}

.page-heading__media {
  display: flex;
  flex-direction: column;
  margin-right: -($grid-gutter-width-lg / 2);
  margin-left: -($grid-gutter-width-lg / 2);

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: column;
    width: 50%;
    max-width: 624px;
    margin-left: auto;
  }
}

.page-heading__image-wrapper {
  display: flex;
  flex: 1 1 auto;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.page-heading__image {
  width: 100%;
  max-width: 100%;
}

.page-heading__info {
  padding: 3rem ($grid-gutter-width-lg / 2);
  background-color: $color-deep-blue;

  @include media-breakpoint-only(sm) {
    width: 300px;
  }
}
