.page-heading {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.page-heading__title {
  margin-top: 0;
  margin-bottom: 7rem;
  color: $text-color-dark;
  font-weight: bold;
  font-size: 2.6rem;
  font-family: $font-family-primary;
  line-height: 3.3rem;

  @include media-breakpoint-up(lg) {
    width: 50%;
    max-width: 650px;
  }
}

.page-heading__media {
  display: flex;
  flex-direction: column;
  margin-right: -2.4rem;
  margin-left: -2.4rem;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: column;
    width: 50%;
    max-width: 624px;
    margin-left: auto;
  }
}

.page-heading__image-wrapper {
  display: flex;
  flex: 1 1 auto;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

.page-heading__image {
  width: 100%;
  max-width: 100%;
}

.page-heading__info {
  padding: 3rem 2.4rem;
  background-color: #141923;

  @include media-breakpoint-only(sm) {
    width: 300px;
  }
}
