.period-picker {
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
}

.period-picker__button {
  @include transition;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 100%;
  color: #808080;
  font-size: 2rem;
  background-color: #373c46;
  border: none;
  outline: none;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: #494f5d;
  }

  &:active {
    color: $color-primary-active;
    background-color: #494f5d;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.period-picker__period {
  display: inline-flex;
  flex: 0 1 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: $font-family-primary;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #373c46;
}
