.progress-dashboard {
  padding-right: ($grid-gutter-width-lg / 2);
  padding-left: ($grid-gutter-width-lg / 2);
}

.progress-dashboard__row {
  @include make-row($gutters: $grid-gutter-widths-lg);

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }
}

.progress-dashboard__legend-col {
  @include make-col-ready($gutters: $grid-gutter-widths-lg);
  @include make-col(12);

  @include media-breakpoint-up(lg) {
    flex-basis: 307px;
    max-width: 307px;
    margin-right: auto;
  }
}

.progress-dashboard__title {
  margin-top: 0;
  margin-bottom: 1.6rem;
  color: $text-color-light;
  font-size: 3rem;
  font-family: $font-family-primary;
  line-height: 3.5rem;
}

.progress-dashboard__description {
  margin-top: 0;
  margin-bottom: 2rem;
  color: $text-color-light;
  font-size: 1.6rem;
  font-family: $font-family-secondary;
  line-height: 2.5rem;
}

.progress-dashboard__status-title {
  margin-top: 0;
  margin-bottom: 2rem;
  color: $text-color-light;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: $font-family-primary;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.progress-dashboard__controls-bar,
.progress-dashboard__tabs {
  @include media-breakpoint-down(sm) {
    margin-right: -($grid-gutter-width-lg / 2);
    margin-left: -($grid-gutter-width-lg / 2);
  }
}

.progress-dashboard__countries-list {
  @include media-breakpoint-down(sm) {
    margin-right: -($grid-gutter-width-lg / 2);
    margin-left: -($grid-gutter-width-lg / 2);
    padding: 24px ($grid-gutter-width-lg / 2);
    background-color: $color-dark-blue;
  }
}

.progress-dashboard__countries-col {
  @include make-col-ready($gutters: $grid-gutter-widths-lg);
  @include make-col(12);

  @include media-breakpoint-up(lg) {
    flex: 0 1 100%;
    max-width: 930px;
  }
}

.progress-dashboard__last-data {
  display: flex;
  margin: 3rem 0;
  color: #b6bbc6;

  @include media-breakpoint-up(lg) {
    margin-top: 9rem;
  }

  svg {
    margin-right: 0.6rem;
    font-size: 2.1rem;
  }

  span {
    width: 19.4rem;
    font-size: 1.3rem;
    font-family: $font-family-secondary;
    line-height: 1.54;
  }
}

.progress-dashboard__controls-button {
  margin-top: 20rem;
}
