.sidebar {
  @include transition;
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $color-dark-blue;

  @include media-breakpoint-down(sm) {
    z-index: 2;
  }

  @include media-breakpoint-up(md) {
    @include transition;
    position: absolute;
    top: 7rem;
    bottom: 8.3rem;
    left: ($grid-gutter-width-lg / 2);
    width: 33.4rem;
    height: auto;
    border-radius: 0.5rem;

    .sidebar__expander > svg {
      transform: rotate(180deg);
    }

    &--collapsed {
      left: -31.4rem;

      .sidebar__expander > svg {
        transform: rotate(0deg);
      }
    }
  }

  /* add .sidebar--show-map for map tab */
  &--show-map {
    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius: $border-radius;

  .sidebar__search-results {
    position: absolute;
    top: 5.3rem;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    background-color: $color-deep-blue;

    .not-found {
      align-items: flex-start;
      font-size: 1.6rem;
      line-height: 2.6rem;
    }

    .not-found-link {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

.sidebar--show-map .sidebar__container {
  border-radius: unset;
}

.sidebar__expander {
  display: none;
  color: $color-primary;
  font-size: 2rem;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 1rem;
    left: 100%;
    display: flex;
    width: 2rem;
    height: 2.8rem;
    padding: 0.4rem 0;
    background-color: $color-deep-blue;
    border: none;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    outline: none;

    > svg {
      @include transition;
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:focus {
    color: $color-primary-hover;
  }

  &:active {
    color: $color-primary-active;
  }
}

.sidebar__title {
  margin: 0;
  padding: 2.6rem ($grid-gutter-width-lg / 2) 3.2rem;
  font-size: 2.6rem;
  line-height: 3rem;
  background-color: $color-deep-blue;
  border-bottom: 1.2rem solid $color-primary;

  @include media-breakpoint-up(md) {
    border-bottom-width: 0.8rem;
  }
}

.sidebar__secondary-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  &--mb-sm {
    margin-bottom: 0.6rem;
  }
}

.sidebar__search-bar {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;

  @include media-breakpoint-up(md) {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

.sidebar__content {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 24px ($grid-gutter-width-lg / 2);
  overflow: auto;
  background-color: $color-dark-blue;

  &--hidden {
    display: none;
  }
}

.sidebar__paragraph {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-family: $font-family-secondary;
  line-height: 2.5rem;
}

.sidebar__link {
  align-self: flex-start;
  margin-top: -1.2rem;
}

.sidebar__list {
  margin-bottom: 3.5rem;
}

.sidebar__country-list {
  margin-right: -($grid-gutter-width-lg / 2);
  margin-left: -($grid-gutter-width-lg / 2);
}

.sidebar__button {
  &--select-country {
    align-self: flex-start;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.sidebar__not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sidebar__period-picker {
  margin-bottom: 2.5rem;
}

.sidebar__divider {
  margin: 2rem (-$grid-gutter-width-lg / 2);
  border: solid 0.1rem #373c46;
  border-top: none;
}

.sidebar__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sidebar__view-connectivity {
  margin: -24px (-$grid-gutter-width-lg / 2) 3rem;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
