.cross-fade-enter {
  opacity: 0.1;
}
.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.cross-fade-exit {
  opacity: 1;
}
.cross-fade-exit-active {
  opacity: 0.1;
  transition: opacity 300ms ease-in-out;
}
