.slider-navigation {
  font-size: 4rem;
}

.slider-navigation__button {
  @include transition;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 5rem;
  padding: 0;
  color: $color-primary;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  outline: none;

  @include media-breakpoint-down(xs) {
    width: 5rem;
  }

  &:hover,
  &:active {
    color: $text-color-light;
    background-color: $color-primary;
  }

  &:disabled {
    color: #6e737d;
  }
}

.slider-navigation__icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
}
