.slider {
  display: flex;
  flex-direction: column;
  margin-right: -33px;
  margin-left: -9px;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  @include media-breakpoint-up(lg) {
    margin-right: 0;
    margin-left: 0;
  }
}

.slider__image-wrapper {
  position: relative;
  display: inline-flex;
  width: 100%;
  max-height: 360px;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    flex: 0 0 300px;
    order: 2;
  }

  @include media-breakpoint-up(md) {
    flex-basis: 330px;
  }

  @include media-breakpoint-up(lg) {
    flex-basis: 418px;
  }

  @include media-breakpoint-up(xl) {
    flex-basis: 458px;
  }
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.slider__image-wrapper, .slider__image {
  @include media-breakpoint-down(xxl) {
    min-height: 36rem;
  }

  @include media-breakpoint-down(lg) {
    min-height: 45rem;
  }

  @include media-breakpoint-down(md) {
   min-height: 50rem;
  }

  @include media-breakpoint-down(sm) {
    min-height: 65rem;
  }

  @include media-breakpoint-down(xs) {
    position: relative;
    min-height: 30rem;
  }
}

.slider__info-wrapper {
  width: 100%;
  margin-left: 0;
  padding: 3.5rem ($grid-gutter-width-lg / 2) 0;
  background-color: $color-deep-blue;

  @include media-breakpoint-down(xxl) {
    min-height: 36rem;
  }

  @include media-breakpoint-down(lg) {
    min-height: 45rem;
  }

  @include media-breakpoint-down(md) {
    min-height: 50rem;
  }

  @include media-breakpoint-down(sm) {
    min-height: 65rem;
  }

  @include media-breakpoint-down(xs) {
    height: 50rem;
    min-height: 50rem;
    animation: unset;
  }

  @include media-breakpoint-up(sm) {
    flex: 0 1 100%;
    order: 1;
  }
}

.slider__title {
  margin-top: 0;
  margin-bottom: 2.1rem;
  font-size: 3rem;
  font-family: $font-family-primary;
  line-height: 3.5rem;
}

.slider__text {
  font-size: 1.6rem;
  font-family: $font-family-secondary;
  line-height: 2.5rem;
  white-space: pre-line;
}
