.tabs {
  @include list-unstyled;
  display: flex;
  flex-direction: row;
  padding: 0 2.4rem;
  background-color: $color-primary;

  @include media-breakpoint-up(md) {
    @include transition;
    display: none;
  }
}

.tabs__item {
  &:first-child {
    margin-left: -1.5rem;
  }
}

/* Temporary solution, should not be a button inside link */
.tabs__link {
  display: inline-flex;
  height: 100%;
}

.tabs__button {
  @include transition;
  padding: 1.6rem 1.5rem;
  color: #141923;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:active,
  &--active {
    color: #fff;
  }
}
