.view-changer {
  display: none;
  flex-direction: row;
  align-items: stretch;

  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.view-changer__button {
  @include transition;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #67abff;
  font-size: 1.2rem;
  font-family: $font-family-primary;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;

  &:hover,
  &:active,
  &--active {
    color: $text-color-light;
  }
}

.view-changer__icon {
  margin-right: 0.4rem;
}
