.week-graph {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.week-graph__days-wrapper {
  display: flex;
  flex-direction: row;
}

.week-graph__button {
  @include transition;
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin-bottom: 2.5rem;
  padding: 0;
  color: #808080;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--prev {
    margin-right: 1.3rem;
    margin-left: -0.5rem;
  }

  &--next {
    margin-right: -0.5rem;
    margin-left: 1.3rem;
  }

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: #373c46;
  }
}

.week-graph__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 2.8rem;
  }
}

.week-graph__pillar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 0.7rem;
  height: 7.8rem;
}

.week-graph__filler {
  width: 0.7rem;

  &--good {
    height: 100%;
    background-color: #8bd432;
  }

  &--middle {
    height: 75%;
    background-color: #ffc93d;
  }

  &--bad {
    height: 30%;
    background-color: #ff615b;
  }
}

.week-graph__day {
  display: flex;
  justify-content: center;
  width: 0.7rem;
  margin-top: 0.5rem;
  color: #9f9f9f;
  font-size: 1.3rem;
  font-family: $font-family-secondary;
  line-height: 2rem;
}

.week-graph-link {
  margin-top: 1rem;
}
