.week-graph {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.week-graph__days-wrapper {
  display: flex;
  flex-direction: row;
}

.week-graph__button {
  @include transition;
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin-bottom: 2.5rem;
  padding: 0;
  color: #808080;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--prev {
    margin-right: 1.3rem;
    margin-left: -0.5rem;
  }

  &--next {
    margin-right: -0.5rem;
    margin-left: 1.3rem;
  }

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: #373c46;
  }
}

.week-graph__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 2.8rem;
  }
}

.week-graph__pillar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 0.7rem;
  height: 7.8rem;
}

.week-graph__tooltip {
  position: absolute;
  bottom: calc(100% + 1.2rem);
  left: 50%;
  z-index: 1;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.7rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.7;
  white-space: nowrap;
  background-color: #6e737d;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
  transform: translate(-50%, 0);

  &::after {
    position: absolute;
    bottom: -0.6rem;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 0.6rem solid #6e737d;
    border-right: 0.6rem solid transparent;
    border-left: 0.6rem solid transparent;
    transform: translate(-50%, 0);
    content: '';
  }
}

.week-graph__filler {
  position: relative;
  width: 1.2rem;
  cursor: pointer;

  &:hover {
    .week-graph__tooltip {
      display: flex;
    }
  }
}

.week-graph__day {
  display: flex;
  justify-content: center;
  width: 0.7rem;
  margin-top: 0.5rem;
  color: #9f9f9f;
  font-size: 1.3rem;
  font-family: $font-family-secondary;
  line-height: 2rem;
}

.week-graph-link {
  margin-top: 1rem;
}
