@mixin list-unstyled() {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin transition() {
    transition: all 0.3s ease-in-out;
}

@mixin visually-hidden() {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
