.button {
    @include transition;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.4rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    outline: none;

    &--full-width {
        width: 100%;
    }

    &--large {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }

    &--primary {
        background-color: $color-primary;

        &:hover {
            background-color: $color-primary-hover;
        }

        &:active, &--active {
            background-color: $color-primary-active;
        }
    }
    
    &--secondary {
        background-color: #b6bbc6;
    }

    &--tertiary {
        background-color: #141923;

        &:hover {
            background-color: $color-primary-hover;
        }

        &:active, &--active {
            background-color: $color-primary-active;
        }
    }
}
