.button {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.4rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &--full-width {
        width: 100%;
    }

    &--primary {
        background-color: #2779ff;
    }
    
    &--secondary {
        background-color: #b6bbc6;
    }
}
