.header {
  position: fixed;
  top: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-height;
  background-color: $header-background-color;

  @include media-breakpoint-up(md) {
    background-color: transparent;
  }
}

.header__logo {
  align-self: center;
}

.header__button {
  margin-left: auto;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
