.menu {
  @include list-unstyled;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-deep-blue;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.menu__link {
  width: 100%;
  padding: 1rem 2.5rem;
  color: $text-color-light;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  @include media-breakpoint-down(md) {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }

  @include media-breakpoint-only(lg) {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }

  &,
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-primary;
  }

  &:active,
  &--active {
    background-color: #0068ea;
  }
}

.menu__arrow {
  margin-top: 0.2rem;
  margin-right: -0.5rem;
  margin-left: 0.2rem;
  font-size: 2rem;
  transform: rotate(90deg);
}

.menu__item {
  position: relative;
  display: inline-flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    width: 100%;
  }

  .menu__link {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  > .menu {
    display: none;

    @include media-breakpoint-down(md) {
      // stylelint-disable-next-line selector-max-compound-selectors
      > .menu__item > .menu__link {
        padding-left: 5rem;
      }
    }
  }

  &--expanded,
  &:hover {
    > .menu__link {
      background-color: $color-primary;
    }

    > .menu {
      display: flex;

      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        width: auto;
      }

      .menu__link {
        width: 100%;
        white-space: nowrap;
      }
    }
  }
}

$icon-background: transparent;
$icon-color: $text-color-light;
$icon-height: 1.9rem;

$icon-line-width: 1.9rem;
$icon-line-height: 0.2rem;
$icon-rotation: 45deg;

.menu-icon {
  position: absolute;
  top: 50%;
  right: ($grid-gutter-width-lg / 2);
  display: block;
  width: $icon-line-width;
  height: $icon-height;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .line {
    @include transition;
    position: absolute;
    left: 0;
    display: block;
    width: $icon-line-width;
    height: $icon-line-height;
    background: $icon-color;
    border-radius: ($icon-line-height / 2);

    &.line-1 {
      top: 0.4rem;
    }
    &.line-2 {
      top: 1.4rem;
    }
  }

  &--open {
    .line-1 {
      transform: translateY(0.5rem) rotate($icon-rotation);
    }
    .line-2 {
      transform: translateY(-0.5rem) rotate($icon-rotation * -1);
    }
  }

  &:focus {
    outline: none;
  }
}
