.content {
    position: relative;
    flex: 1 0 auto;
    padding-top: 7rem;
}

.section {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;

  &--inverted {
    background-color: #373c46;
  }
}
