@mixin list-unstyled() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin transition() {
  // stylelint-disable-next-line declaration-property-value-blacklist
  transition: all 0.3s ease-in-out;
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
